#jumbo {
    background: linear-gradient(
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.6)
        ), url("img/hawaii.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:450px;
}
.gris {
    background-color: rgb(53, 58, 64)
}
.ignite {
    text-decoration: underline;
    text-decoration-style: dotted;
}
footer {
    background:rgb(31, 77, 103);
}
footer a {
    color:white;
    text-decoration:none;
}
.btn-comprar {
    background-color:rgb(41, 167, 68);
}
.btn-enviar {
    background-color:rgb(150, 201, 62);
    border-color:rgb(150, 201, 62);
}
.card-total {
    background-color:rgb(204, 229, 255);
    border-color:rgb(184, 218, 255);
}